extends ../layouts/common
block content
    h1.pt-5 Login
    if errors
        each err in errors
            .alert.alert-secondary=err
    form.form-group(method="POST")
        input(type="hidden", name="_csrf", value=csruf)
        label(for="name") Name
        input#name.form-control(name="name",type="text",value=body?body.name:"")
        label(for="phone") Phone
        input#phone.form-control(name = "phone",type="number",value=body?body.phone:"")
        button.btn.btn-primary.mt-3 Login