extends ../layouts/common
block content
    h1.pt-5.text-center View
    .wrapper.d-flex.flex-column.justify-content-center.align-items-center
        if user.avatar
            img.img-fluid.d-block.reponsive-img(src="/"+user.avatar)
        else
            img.img-fluid.d-block.reponsive-img(src='https://robohash.org/'+user.name)
        h1.text-red=user.name
        h1=user.phone